body {
    background-color: #ffffff;
}


.optionsTd {
    width : 20px;
    border-top: 0px solid black !important;
}

table>tbody>tr td{
    border-top: 2px solid black;
}

.inptTable {
    height: 30px !important;
}

