.check_inside_table {
    margin-left: 0px !important;
}

.container-fluid {
    width: 90% !important;
}

.form-signin {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 660px;
    padding: 15px;
    margin: auto;
  }
.minWidth {
    min-width: 150px;
}
